<connectionStrings>
  <add name="KbVaultEntities" 
       connectionString="metadata=res://*/KBVaultEntityModel.csdl|res://*/KBVaultEntityModel.ssdl|res://*/KBVaultEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINAPPWEBSQL1;initial catalog=AppSecurity;uid=AppSecurityUserSV;password=s3c1ud3d;multipleactiveresultsets=True;application name=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />

  <add name="KbVaultContext" connectionString="data source=WINAPPWEBSQL1;initial catalog=AppSecurity;uid=AppSecurityUserSV;password=s3c1ud3d;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
