@model List<KBVault.Web.Models.Public.TagCloudItem> 

<h5>@UIResources.LandingSidebarTagCloudListTitle</h5>
<div class="row">
    <div class="col-md-12">
        @foreach (var tag in Model)
        {
            <a class="btn badge badge-primary mr-1" href='@Url.Action("Tags", "Home", new { id = tag.Name })'>
                @tag.Name
            </a>
        }
    </div>
</div>